@import './drum-machine-modules/play-button.css';
@import './drum-machine-modules/slider.css';
@import './drum-machine-modules/display.css';
@import './drum-machine-modules/save-clear-button.css';
@import './drum-machine-modules/sequencer.css';

.drum-machine {
	max-width: 120rem;
	flex-grow: 1;
	padding: 2rem;
	margin: 0 2rem;
	background-color: #d1cdcc;
	border-radius: 1.5rem;
	box-shadow: -2px 8px 0px #5f5f5f, -2px 0px 0px #5f5f5f;
}

.drum-machine__controllers {
	display: flex;
	align-items: center;
	justify-content:space-between;
	gap: 1rem;
	margin-bottom: 2rem;
}

@media only screen and (max-width: 800px) {
	.drum-machine {
		padding: 1rem;
	}

	.drum-machine__controllers {
		flex-wrap: wrap;
		margin-bottom: 1rem;
	}
}

@media only screen and (max-width: 600px) {
	.drum-machine {
		margin: 0;
		padding: 0.5rem;
		box-shadow: -1px 4px 0px #5f5f5f, -1px 0px 0px #5f5f5f;
	}

	.drum-machine__controllers {
		justify-content: unset;
		/* row-gap: 1rem; */
	}
}
