.drum-machine__play-button,
.drum-machine__reset-button {
	font-size: 4rem;
}

.drum-machine__sequencer-steps {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

.drum-machine__sequencer-sample {
	font-size: 3rem;
	padding: 0 1rem;
	border: solid 1px;
	cursor: pointer;
	margin-right: 2rem;
}

.drum-machine__sequencer-step {
	width: 4rem;
	height: 4rem;
}

.drum-machine__sequencer-play-head {
	transform: scale(1.2);
	accent-color: purple;
}

.drum-machine__step--active {
	background-color: blue;
}