.drum-machine__tempo-slider-container {
	width: 30%;
}

.drum-machine__tempo-slider {
	width: 100%;
	height: 0.5rem;
	border-radius: 1rem;
	cursor: pointer;
	appearance: none;
}

.drum-machine__tempo-slider::-webkit-slider-thumb {
	width: 2rem;
	height: 6rem;
	background-color: #ff8639;
	border-radius: 0.4rem;
	box-shadow: inset 0px -6px 0px #cc6b2e, inset 2px 0px 0px #cc6b2e;
	appearance: none;
}

@media only screen and (max-width: 800px) {
	.drum-machine__tempo-slider-container {
		order: 1;
		flex-grow: 1;
	}
}

@media only screen and (max-width: 600px) {
	.drum-machine__tempo-slider-container {
		flex-basis: 100%;
		margin-bottom: 1rem;
	}

	.drum-machine__tempo-slider::-webkit-slider-thumb {
		width: 1.5rem;
		height: 4rem;
	}
}